recipe {
    name "liburcu"
    version "0.15.6"
    release 1
    description "Userspace Read-Copy-Update library"
    url "https://liburcu.org"
    archs "aarch64" "x86_64"
    licenses "LGPL-2.1"
    depends "busybox" \
            "llvm" \
            "make" \
            "musl-dev"
}

source "https://lttng.org/files/urcu/userspace-rcu-${recipe.version}.tar.bz2" {
    blake3 "f091bd339f2c4a541786719d8f8d0fa9783c2148d414199b5ddb99849753b8d1"
}

build {
    script r#"
        ./configure \
            --prefix=/usr \
            --disable-shared \
            --enable-static
        make -j "$(nproc)"
    "#
}

install {
    script r#"
        make DESTDIR="$DESTDIR" install
    "#
}

package "liburcu-dev" {
    files "usr/include/" \
          "usr/lib/*.a" \
          "usr/lib/pkgconfig/"
}
