recipe {
    name "zlib-ng"
    version "2.3.3"
    release 7
    description "zlib replacement with optimizations for \"next generation\" systems."
    url "https://github.com/zlib-ng/zlib-ng"
    licenses "zlib"
    archs "aarch64" "x86_64"
    depends "busybox" \
            "cmake" \
            "llvm" \
            "make" \
            "mimalloc-dev" \
            "musl-dev"
}

source "https://github.com/zlib-ng/zlib-ng/archive/refs/tags/${recipe.version}.tar.gz" {
    blake3 "103cd4e5aa69bb2d0383a242f231bccf64c8a79c21156e7c6187db3cebc1367d"
}

build {
    script r#"
        mkdir build
        cd build || return 1
        cmake \
            -DCMAKE_C_FLAGS="$CFLAGS -fPIC" \
            -DCMAKE_INSTALL_PREFIX=/usr \
            -DCMAKE_INSTALL_LIBDIR=lib \
            -DCMAKE_BUILD_TYPE=MinSizeRelease \
            -DZLIB_ENABLE_TESTS=OFF \
            -DZLIB_COMPAT=ON \
            ..
        make VERBOSE=1 -j"$(nproc)"
    "#
}

install {
    script r#"
        cd build || return 1
        make DESTDIR="${DESTDIR}" install
    "#
}

package "zlib-ng" {
    files "usr/lib/lib*.so.*" \
          "usr/lib/lib*.so"
}

package "zlib-ng-dev" {
    files "usr/include/" \
          "usr/lib/cmake/" \
          "usr/lib/lib*.a" \
          "usr/lib/pkgconfig/"
}
