recipe {
    name "nodejs"
    version "24.17.0"
    release 1
    description "A JavaScript runtime"
    url "https://nodejs.org"
    archs "aarch64" "x86_64"
    depends "linux-headers" \
            "llvm" \
            "mimalloc-dev" \
            "musl-dev" \
            "ninja" \
            "openssl-dev" \
            "python" \
            "zlib-ng-dev"
}

source "https://nodejs.org/dist/v${recipe.version}/node-v${recipe.version}.tar.xz" {
    blake3 "7945eb44a96a664dcf8abe133789cbb1685c29f892107cd12cb0dab82bc9b138"
}

prepare {
    script r#"
        sed -i "/'[^']*-latomic[^']*'/d" node.gyp tools/v8_gypfiles/v8.gyp
    "#
}

build {
    script r#"
        export CXX=c++ CC=cc
        ./configure --prefix=/usr \
            --shared-zlib \
            --shared-openssl \
            --with-intl=full-icu \
            --without-report \
            --without-node-snapshot \
            --without-node-code-cache \
            --ninja
        ninja -C out/Release
    "#
}

install {
    script r#"
        tools/install.py install --dest-dir "$DESTDIR" --prefix /usr
        find "$DESTDIR" -iname "*.ps1" -delete
    "#
}

package "nodejs" {
    files "usr/bin/" \
          "usr/lib/node_modules/" \
          "usr/share/doc/node/" \
          "usr/share/man/"
}

package "nodejs-dev" {
    files "usr/include/"
}
