recipe {
    name "limine"
    version "12.9.0"
    release 1
    description "Modern multiprotocol bootloader and boot manager"
    url "https://limine-bootloader.org"
    archs "x86_64"
    licenses "BSD-2-Clause"
    depends "busybox" \
            "llvm" \
            "make" \
            "mimalloc-dev" \
            "musl-dev" \
            "nasm"
}

source "https://github.com/limine-bootloader/limine/releases/download/v${recipe.version}/limine-${recipe.version}.tar.xz" {
    blake3 "b6663a09a11d2ffd17aa21ff49e41fd5db16bc6c2d369c967d95cfde821e9638"
}

build {
    script r#"
        ./configure \
            --prefix=/usr \
            --enable-bios \
            --enable-bios-cd \
            --enable-uefi-x86-64
        make
    "#
}

install {
    script r#"
        make DESTDIR="$DESTDIR" install
    "#
}

package "limine" {
    files "usr/bin/" \
          "usr/share/limine/" \
          "usr/share/man/"
}
