recipe {
    name "linux-headers"
    version "6.19.5"
    release 1
    description "Linux kernel headers"
    url "http://www.kernel.org"
    licenses "GPL3"
    depends "busybox" "llvm" "make" "mimalloc-dev" "musl-dev" "patch" "rsync"
}

source "https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-${recipe.version}.tar.xz" {
    blake3 "23173bf282e40457e592d77ed4ae1409dd875b0148a1a2a5b7d710d62165788e"
}

prepare {
    script r#"
        sed -i 's@/usr/bin/awk@/bin/awk@' scripts/ld-version.sh
        sed -i \
            -e "/^CC/s@gcc@${CC:-cc}@g" \
            -e "/^HOSTCC/s@gcc@${CC:-cc}@g" Makefile
        make LLVM=1 LLVM_IAS=1 mrproper
    "#
}

install {
    script r#"
        make LLVM=1 LLVM_IAS=1 INSTALL_HDR_PATH="${DESTDIR}/usr" \
            HOSTCFLAGS="-D_GNU_SOURCE" headers_install
    "#
}

package "linux-headers" {
    files "usr/include/"
}
