recipe {
    name "rsync"
    version "3.4.1"
    release 1
    description "A fast incremental file transfer utility"
    archs "aarch64" "x86_64"
    url "https://rsync.samba.org/"
    licenses "GPL3"
    depends "llvm" \
            "make" \
            "mimalloc-dev" \
            "musl-dev" \
            "perl" \
            "zlib-ng-dev"
}

source "https://download.samba.org/pub/rsync/src/rsync-${recipe.version}.tar.gz" {
    blake3 "e1cfdd51a1a89a49e73f8fa730a4321392fe4a29533c0979c2c09c7ce3808b6f"
}

build {
    script r#"
        export LDFLAGS="$LDFLAGS -static -Wl,-static"
        ./configure --prefix=/usr \
            --disable-openssl \
            --disable-xxhash \
            --disable-zstd \
            --disable-lz4
        make
    "#
}

install {
    script r#"
        make DESTDIR="$DESTDIR" install
    "#
}

package "rsync" {
    files "usr/bin/rsync" \
          "usr/share/man/man1/"
}
