recipe {
    name "iptables"
    version "1.8.13"
    release 1
    description "Packet filtering for Linux"
    url "http://www.netfilter.org/"
    archs "aarch64" "x86_64"
    licenses "GPL"
    depends "linux-headers" \
            "llvm" \
            "make" \
            "mimalloc-dev" \
            "musl-dev" \
            "zlib-ng-dev"
}

source "https://www.netfilter.org/projects/iptables/files/iptables-${recipe.version}.tar.xz" {
    blake3 "73842925cdcf083c251143bcf76f693f46d8f74be5b21a97d78bffebb3c3e90c"
}

prepare {
    script r#"
        # Remove incompatible header
        sed -i '/if_ether.h/d' libxtables/xtables.c
        # Add missing header
        sed -i "/stdint.h/s@\$@\n#include <sys/types.h>@" iptables/xshared.h
    "#
}

build {
    script r#"
        export LDFLAGS="$LDFLAGS --static"
        ./configure --prefix='' \
            --disable-shared \
            --enable-static \
            --disable-nftables \
            --enable-libipq \
            --mandir=/usr/share/man \
            --with-xtlibdir=/lib/xtables
        make
    "#
}

install {
    script r#"
        make DESTDIR="$DESTDIR" install
    "#
}

package "iptables" {
    files "bin/" \
          "sbin/" \
          "usr/share/man/man1/" \
          "usr/share/man/man8/"
}
