recipe {
    name "meander"
    version "0.1.0"
    release 2
    description "An experimental window manager for the River compositor"
    url "https://github.com/jhuntwork/meander"
    archs "aarch64" "x86_64"
    licenses "MIT"
    depends "libxkbcommon" \
            "libxkbcommon-dev" \
            "mimalloc-dev" \
            "musl-dev" \
            "pkgconf" \
            "wayland" \
            "wayland-dev" \
            "wayland-protocols-dev" \
            "zig=0.16.0"
}

source "https://github.com/jhuntwork/meander/archive/ab66bb6.tar.gz" {
    blake3 "e7daefe0153b9f0e2c3ce7034277451d9a5ae4235346d24331e86586333a95d3"
}

install {
    script r#"
        zig build \
            -Doptimize=ReleaseSafe \
            -Dcpu=baseline \
            --prefix /usr \
            install
        install -Dm755 scripts/session-example "${DESTDIR}/usr/bin/meander-session"
    "#
}

package "meander" {
    files "usr/bin/"
}
