recipe {
    name "meander"
    version "0.1.0"
    release 1
    description "An experimental window manager for the River compositor"
    url "https://github.com/jhuntwork/meander"
    archs "aarch64" "x86_64"
    licenses "MIT"
    depends "libxkbcommon" \
            "libxkbcommon-dev" \
            "mimalloc-dev" \
            "musl-dev" \
            "pkgconf" \
            "wayland" \
            "wayland-dev" \
            "wayland-protocols-dev" \
            "zig=0.16.0"
}

source "https://github.com/jhuntwork/meander/archive/c08e27e8e0c4b7be90c4608762fc5ada31dab444.tar.gz" {
    blake3 "325da968bfb37a885b10973de842dbef2d50ecf6dd36d9b261ea9aacdf50f95d"
}

install {
    script r#"
        zig build \
            -Doptimize=ReleaseSafe \
            -Dcpu=baseline \
            --prefix /usr \
            install
        install -Dm755 scripts/session-example "${DESTDIR}/usr/bin/meander-session"
    "#
}

package "meander" {
    files "usr/bin/"
}
