recipe {
    name "libvpx"
    version "1.16.0"
    release 2
    description "WebM VP8/VP9 Codec SDK"
    url "https://www.webmproject.org/code/"
    archs "aarch64" "x86_64"
    licenses "BSD"
    depends "busybox" \
            "llvm" \
            "make" \
            "mimalloc-dev" \
            "musl-dev" \
            "perl"
    depends arch="x86_64" "nasm"
}

source "https://github.com/webmproject/libvpx/archive/v${recipe.version}.tar.gz" {
    blake3 "6d1e98de2e6d59909bb723032880f32c323054fd41b4aff029e8dc10f01bb349"
}

build {
    script r#"
        sed -i 's/diff --version/command -v diff/' configure
        AS_FLAG=""
        [ "$(uname -m)" = "x86_64" ] && AS_FLAG="--as=nasm"
        CC=clang CXX=clang++ ./configure \
            --prefix=/usr \
            --enable-shared \
            --enable-vp8 \
            --enable-vp9 \
            --enable-experimental \
            --enable-pic \
            --enable-postproc \
            --enable-runtime-cpu-detect \
            --disable-tools \
            --disable-examples \
            --disable-docs \
            --disable-unit-tests \
            --disable-install-srcs \
            --disable-install-bins \
            $AS_FLAG
        make
    "#
}

install {
    script r#"
        make DIST_DIR="${DESTDIR}/usr" install
    "#
}

package "libvpx" {
    files "usr/lib/lib*.so*"
}

package "libvpx-dev" {
    files "usr/include/" \
          "usr/lib/lib*.a" \
          "usr/lib/pkgconfig/"
}
