recipe {
    name "hwdata"
    version "0.406"
    release 1
    description "Hardware identification and configuration data (pci.ids, usb.ids)"
    url "https://github.com/vcrhonek/hwdata"
    archs "aarch64" "x86_64"
    licenses "GPL2"
    depends "busybox" "make"
}

source "https://github.com/vcrhonek/hwdata/archive/refs/tags/v${recipe.version}.tar.gz" {
    blake3 "c9ac9ad3b6b3bc38ba1a163b53b7378d605c4a02e405537ac4eafe516a27c2b8"
}

build {
    script r#"
        ./configure --prefix=/usr --datadir=/usr/share
    "#
}

install {
    script r#"
        make DESTDIR="$DESTDIR" blacklist=false install
    "#
}

package "hwdata" {
    files "usr/share/hwdata/" \
          "usr/share/pkgconfig/"
}
