recipe {
    name "fontconfig"
    version "2.16.0"
    release 4
    description "Library for configuring and customizing font access"
    url "https://www.freedesktop.org/wiki/Software/fontconfig/"
    archs "aarch64" "x86_64"
    licenses "MIT"
    depends "autoconf" \
            "automake" \
            "expat-dev" \
            "freetype" \
            "freetype-dev" \
            "gettext" \
            "gperf" \
            "harfbuzz" \
            "harfbuzz-dev" \
            "libpng" \
            "libpng-dev" \
            "libtool" \
            "llvm" \
            "m4" \
            "make" \
            "mimalloc-dev" \
            "musl-dev" \
            "pkgconf" \
            "python" \
            "zlib-ng-dev"
}

source "https://gitlab.freedesktop.org/fontconfig/fontconfig/-/archive/${recipe.version}/fontconfig-${recipe.version}.tar.bz2" {
    blake3 "17169c95523bfc283367f6a8099db3d9938ca66fd698c51fb027dc9f29b0da2e"
}

build {
    script r#"
        ./autogen.sh \
            --prefix=/usr \
            --enable-shared \
            --enable-static \
            --sysconfdir=/etc-defaults \
            --localstatedir=/var
        make
    "#
}

install {
    script r#"
        make DESTDIR="${DESTDIR}" install
        rm -rf "${DESTDIR}/var/cache/fontconfig"

        mkdir -p "${DESTDIR}/etc-defaults/fonts/conf.d" \
                 "${DESTDIR}/usr/lib/fontconfig/cache"
        touch "${DESTDIR}/usr/lib/fontconfig/cache/.keep"
        cat > "${DESTDIR}/etc-defaults/fonts/conf.d/00-mere-cache.conf" <<'EOF'
<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">
<fontconfig>
    <cachedir>/usr/lib/fontconfig/cache</cachedir>
</fontconfig>
EOF
    "#
}

package "fontconfig" {
    files "etc-defaults/fonts/" \
          "usr/bin/" \
          "usr/lib/lib*.so*" \
          "usr/lib/fontconfig/" \
          "usr/share/fontconfig/" \
          "usr/share/gettext/its/" \
          "usr/share/xml/"

    realizer "fontconfig-cache" {
        inputs "usr/share/fonts/"
        command "/usr/bin/fc-cache" "-f" "-s"
    }
}

package "fontconfig-dev" {
    files "usr/include/" \
          "usr/lib/lib*.a" \
          "usr/lib/pkgconfig/"
}
